{% extends "bootstrap/base.html" %}

{%  block title %} Racc-sync {% endblock %}

{% block content %}

    <h1>The Srt offset</h1>

    <p>Racc-sync allows you to offset your .srt files easily.</p>

    {% with flashed_messages = get_flashed_messages() %}
        {% for message in flashed_messages %}
            <small>{{ message }}</small>
        {% endfor %}
    {% endwith %}

    <form action="{{ url_for('index') }}" enctype="multipart/form-data" method="post">
        {{ form.hidden_tag() }}

        {{ form.file }}
        {{ form.hours }}
        {{ form.minuts }}
        {{ form.seconds }}
        {{ form.miliseconds }}
        <br>
        {{ form.submit }}
    </form>


{% endblock %}